<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Login</title>
</head>
<body>
<h1>Faça seu login</h1>
<h:form>
<h:panelGrid columns="2">
<label>Login</label>
<h:inputText value="" id="username" name="username"/>
<label>Senha</label>
<h:inputSecret value="" id="password" name="password"/>
</h:panelGrid>
<h:commandButton  value="Logar" />
</h:form>
</body>
</html>